<div style="display: flex; align-items: center; height: 75px;">
<%= link_to home_path do %>
  <h1>SimpleBlog</h1>
<% end %>
<%= link_to new_post_path do %>
  <button class="nes-btn is-primary">Add New Post</button>
<% end %>
</div>
<hr style="margin-top: 0;">
<br><br>